@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-display: 'DM Sans', sans-serif;
    --color-principalcolor: #0068D0;
    --color-blueOscuro: #00142E;
    --color-yellowcolor: #FFD700;
    --color-textColor: #050B20;
}

.container-general{
    @apply max-w-[1400px] mx-auto px-4 sm:px-6 lg:px-8;
}

.nav-link{
    @apply text-[15px] font-normal text-textColor hover:text-principalcolor transition duration-300 ease-in-out;
}

body{
    font-family: "DM Sans", sans-serif;
}
